name: Socat Custom normal install Workflow

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-with-custom-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0

      - name: Install socat
        run: |
            echo "Installing socat..."
            sudo apt-get update
            sudo apt-get install -y socat
            echo "Socat installation complete!"

      - name: Verify socat installation
        run: |
            echo "Checking socat version..."
            socat -V
            echo "Checking socat path..."
            which socat
            echo "Socat is available!"